<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Employee Directory — HRMS</title>
  <link rel="stylesheet" href="../css/directory.css" />
</head>
<body>
  <header class="topbar">
    <h1>Employee Directory</h1>
  </header>

  <main class="directory">
    <div class="employee-card">
      <img src="../images/bheem.jpg" alt="Employee Photo">
      <h2>Bheem</h2>
      <p>HR Manager</p>
      <p class="email">bheem@example.com</p>
    </div>

    <div class="employee-card">
      <img src="../images/raju.jpg" alt="Employee Photo">
      <h2>Raju </h2>
      <p>Frontend Developer</p>
      <p class="email">raju@example.com</p>
    </div>

    <div class="employee-card">
      <img src="../images/kaliya.jpg" alt="Employee Photo">
      <h2>kaliya</h2>
      <p>Backend Developer</p>
      <p class="email">kaliya@example.com</p>
    </div>
  </main>
</body>
</html>
